table{
    margin: 30px auto;
}

table,th,td{
    border: 1px solid lightseagreen;
    text-align: center;
}

tr:nth-child(even){
    background-color: lightcyan;
}

tr:nth-child(odd){
    background-color: lightskyblue;
}
tr:first-child{
    background-color: gray;
}

div{
    height: 80%;
    overflow: auto;
}